<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel">新增文件</h4>
</div>
	<div class="modal-body gdt">
    	<!-- 表单验证form开始 并不是用form提交  只为表单验证 -->
        <form  name="myForm" novalidate>
	   		<div role="tabpanel" class="panel panel-transparent">
            <!-- START list group-->
            <div class="table-responsive">
               <div class="modal-body ">
		          <div class="row">
		          	<div class="col-md-12 mt-lg">
			 			<div class="form-group">
                           <label class="col-md-2 control-label pr0 text-right pt-sm">名称：</label>
                           <div class="col-sm-8">
                              <input class="form-control" type="text" placeholder="请输入文件名称" name="name" ng-model="fileAttr.name">
                           </div>
                        </div>
 					</div>
					<div class="col-md-12 mt-lg">
						<div class="form-group">
                           <label class="col-md-2 control-label pr0 text-right pt-sm">标题：</label>
                           <div class="col-md-8">
                              <input class="form-control" type="text"  placeholder="标题" name="title" ng-model="fileAttr.title">
                           </div>
                    	</div>
 					</div>
 					<div class="col-md-12 mt-lg">
 						<div class="form-group">
                           <label class="col-md-2 control-label pr0 text-right pt-sm">描述：</label>
                           <div class="col-md-8">
							   <input class="form-control" type="text"  placeholder="描述" name="description" ng-model="fileAttr.description">
                           </div>
                        </div>
					</div>
					<div class="col-md-12 mt-lg">
          				<div class="form-group">
            				<label class="col-md-2 control-label pr0 text-right pt-sm">基础模板：</label>
            				<div class="col-sm-4">
								<input class="form-control" type="text"  placeholder="基础模板" name="foundModal" ng-model="fileAttr.foundModal">
            				</div>
							<div class="col-sm-4">
								<select data-ng-model="fileAttr.foundModalNo" name="foundModalNo"
										class="form-control"
										data-ng-options="x.name as x.id for x in fileAttr.sampleModelSEL"
										ng-change="chooseFoundModel(fileAttr.foundModalNo)"
								>
									<option value="">请选择</option>
								</select>
							</div>
          				</div>
        			</div>

					<div class="col-md-12 mt-lg">
          				<div class="form-group">
            				<label class="col-md-2 control-label pr0 text-right pt-sm"></label>
            				<div class="col-sm-8">
								<!--<summernote ng-model="fileAttr.TContent"></summernote>-->
								<textarea ckeditor ng-model="fileAttr.TContent" class="form-control" name="TContent" id = "TContent"></textarea>
            				</div>
          				</div>
        			</div>
        		  </div>
         	   </div>
            </div>
           	</div>
		</form>
		<!--保存按钮-->
    </div>
<div class="modal-footer" style="padding: 0">
	<div class="col-lg-4 col-lg-offset-4">
		<button class="btn btn-block btn-info mt-lg mb-lg" ng-click="submitFileInfo();closeThisDialog()">提交</button>
	</div>
</div>