
<!-- Page content-->
<div class="content-wrapper" ng-controller="folderList as subctr">
	<div class="content-heading">
		<em class="icon-action-redo"></em> 文件管理
		<div class="pull-right">
		</div>
	</div>

	<!-- 表格区-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<div>
				<ol class="breadcrumb pull-left">
					<!--<li ng-repeat="x in breadlist" ng-class="breadlist.length-1 == ($index) ? 'active': ''">{{x}}</li>-->
				</ol>
			</div>

			<div class="pull-right pl-lg dropdown dropdown-list">
				<a href="javascript:void(0)" data-toggle="dropdown"><button type="button"
																			class="mb-sm btn btn-primary">
					<span class="icon-options"></span>
				</button></a>

				<!-- START Dropdown menu-->
				<ul class="dropdown-menu animated lightSpeedIn modal-lg">
					<li>
						<!-- START list group-->
						<!-- list item-->
						<div class="col-lg-3 borderbtm_01"   ng-repeat="col in subctr.cols">
							<div class="media-box-body  ml-lg">
								<div data-toggle="tooltip" title="Check All"
									 class="checkbox c-checkbox pull-left mt-lg">
									<label>
										<input type="checkbox" ng-model-options="{ getterSetter: true }" ng-model="col.show">
										<span class="fa fa-check"></span>
									</label>
								</div>
								<p class="m-lg">{{col.title()}}</p>
							</div>
						</div>
					</li>
				</ul>
				<!-- END Dropdown menu-->

			</div>
			<div class="pull-right pl-sm">
				<button type="button" class="mb-sm btn btn-warning" ng-click="folderBack()">返回</button>
			</div>
			<div class="pull-right pl-sm">
				<button type="button" class="mb-sm btn btn-purple" ng-click="addFolder()">新增文件夹</button>
			</div>
			<div class="pull-right pl-sm">
				<button type="button" class="mb-sm btn btn-green" ng-click="addFile()">新增文件</button>
			</div>
			<div class="pull-right dropdown dropdown-list">
				<a href="javascript:void(0)" data-toggle="dropdown" style="display: none">
					<button type="button" class="mb-sm btn btn-info">
						筛选&nbsp;&nbsp;<span class="icon-arrow-down"></span>
					</button>
				</a>&nbsp;&nbsp;
				<button type="button" class="mb-sm btn btn-info"  ng-click="selAll()">全选</button>
				<!-- START Dropdown menu-->
				<ul class="dropdown-menu animated flipInY" style="min-width: 300px;">
					<li>
						<!--list group-->
						<div>

							<div role="tabpanel" class="panel panel-transparent">
								<!-- Nav tabs-->
								<ul role="tablist" class="nav nav-tabs nav-justified">
									<li role="presentation" class="active"><a href="#home"
																			  aria-controls="home" role="tab" data-toggle="tab" class="bb0">
										<em class="fa fa-filter fa-fw"></em>筛选场景
									</a></li>
								</ul>
								<!-- Tab panes-->
								<div class="tab-content p0" style="border: 0">
									<div id="home" role="tabpanel" class="tab-pane active">
										<!-- START list group-->
										<div class="list-group mb0">
											<div class="list-group-item text-bold text-center list_01">按状态</div>
											<a href="javascript:void(0)" class="list-group-item bt0" ng-repeat=" temp in selStatus" ng-click="statusSearch(temp.value)">
												<em class="fa fa-fw {{temp.icon}} mr"></em>{{temp.key}}
											</a>
											<!-- <div class="list-group-item text-bold text-center list_01">按时间</div>
											<a href="javascript:void(0)" class="list-group-item bt0"> <em
												class="fa fa-fw fa-calendar-o mr"></em>全部
											</a> <a href="javascript:void(0)" class="list-group-item"> <em
												class="fa fa-fw fa-dot-circle-o mr"></em>当天
											</a> -->
										</div>
										<!-- END list group-->
									</div>

								</div>
							</div>

						</div> <!--list group//-->
					</li>
				</ul>
				<!-- END Dropdown menu-->

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="line_01">&nbsp;</div>
		<!-- START table-responsive-->
		<div class="table-responsive tablescroll">
			<table  ng-table="subctr.folderTableParams" show-filter="true" class="table ng-table-rowselected" ng-table-columns-binding="subctr.cols">
				<tbody>
				<tr ng-repeat="info in $data"  ng-class="{'active': info.$selected}">
					<!-- <td title="'编号'"  ng-if="true">{{info.id}}</td> -->
					<td title="'名称'"  ng-if="true"><a ng-click="getChildFileList(info)">{{info.fileName}}</a></td>
					<td title="'类型'"  ng-if="true">{{info.fileType}}</td>
					<td title="'大小'"  ng-if="true">{{info.fileSize}}</td>
					<td title="'更新时间'" ng-if="true">{{info.fileModifyDate}}</td>
					<td data-title="'操作'" ng-if="true" width="20%"><a ng-if="true" ng-click="editFolder(info)">编辑</a>&nbsp;&nbsp;&nbsp;<a ng-if="true" ng-click="downLoadFile(info)">下载</a>&nbsp;&nbsp;&nbsp;<a ng-if="true" ng-click="delFolder(info)">删除</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--表格区//-->
</div>
