		<div class="modal-header">
			<h4 class="modal-title" id="myModalLabel">专题新增</h4>
		</div>
		<div class="modal-body  gdt">
		<form  name="SubjectAddForm" novalidate>
			<div>
				FFFFFFOOOOOOONNNNNNTTTTTT
			</div>

			<br>
			<!--保存按钮-->
			<div class="modal-footer">
				<div class="col-lg-4 col-lg-offset-4 text-center">
					<button class="btn btn-info mt-lg mb-lg" ng-click="qtSave('asdfasd');closeThisDialog(1)">保存</button>

					<button class="btn btn-default mt-lg mb-lg" ng-click="closeThisDialog(1)">取消</button>
				</div>
			</div>
			<!--保存按钮//-->
			</form>
		</div>
