<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rundatop.sys.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.rundatop.sys.model.Video" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="root_url" property="rootUrl" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="suffix" property="suffix" jdbcType="VARCHAR" />
    <result column="column_id" property="columnId" jdbcType="INTEGER" />
    <result column="video_id" property="videoId" jdbcType="INTEGER" />
    <result column="video_unique" property="videoUnique" jdbcType="VARCHAR" />
    <result column="upload_url" property="uploadUrl" jdbcType="VARCHAR" />
    <result column="progress_url" property="progressUrl" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="index" property="index" jdbcType="INTEGER" />
  </resultMap>
</mapper>