@charset "utf-8";

/* 通用 */

.nowrap{ white-space:nowrap;}

.bordertop0{ border-top:0!important;}
.borderbottom0{ border-bottom:0!important;}
.borderleft0{ border-left:0!important;}
.borderright0{ border-right:0!important;}
.bordertop1{ border-top:1px solid #eee!important;}
.borderbottom1{ border-bottom:1px solid #eee!important;}
.borderleft1{ border-left:1px solid #eee!important;}
.borderright1{ border-right:1px solid #eee!important;}

.lineheight01{ line-height:55px;}


.m-sm { margin: 5px !important;}
.ml-sm { margin-left: 5px !important;}
.mr-sm { margin-right: 5px !important;}
.mt-sm { margin-top: 5px !important;}
.mb-sm { margin-bottom: 5px !important;}
.m-lg { margin: 15px !important;}
.ml-lg { margin-left: 15px !important;}
.mr-lg { margin-right: 15px !important;}
.mt-lg { margin-top: 15px !important;}
.mb-lg { margin-bottom: 15px !important;}
.m-xl { margin: 30px !important;}
.ml-xl { margin-left: 30px !important;}
.mr-xl { margin-right: 30px !important;}
.mt-xl { margin-top: 30px !important;}
.mb-xl { margin-bottom: 30px !important;}
.mv {  margin-top: 10px !important; margin-bottom: 10px !important;}
.mh { margin-left: 10px !important; margin-right: 10px !important;}
.mv-lg { margin-top: 15px !important; margin-bottom: 15px !important;}
.mh-lg { margin-left: 15px !important; margin-right: 15px !important;}
.mv-sm { margin-top: 5px !important; margin-bottom: 5px !important;}
.mh-sm { margin-left: 5px !important; margin-right: 5px !important;}
.p0 { padding: 0 !important;}
.pl0 { padding-left: 0 !important;}
.pr0 { padding-right: 0 !important;}
.pt0 { padding-top: 0 !important;}
.pb0 { padding-bottom: 0 !important;}
.pv0 { padding-top: 0 !important; padding-bottom: 0 !important;}
.ph0 { padding-left: 0 !important; padding-right: 0 !important;}
.p { padding: 10px !important;}
.pl { padding-left: 10px !important;}
.pr { padding-right: 10px !important;}
.pt { padding-top: 10px !important;}
.pb { padding-bottom: 10px !important;}
.p-sm { padding: 5px !important;}
.pl-sm { padding-left: 5px !important;}
.pr-sm { padding-right: 5px !important;}
.pt-sm { padding-top: 5px !important;}
.pb-sm { padding-bottom: 5px !important;}
.p-lg { padding: 15px !important;}
.pl-lg { padding-left: 15px !important;}
.pr-lg { padding-right: 15px !important;}
.pt-lg { padding-top: 15px !important;}
.pb-lg { padding-bottom: 15px !important;}
.p-xl { padding: 30px !important;}
.pl-xl { padding-left: 30px !important;}
.pr-xl { padding-right: 30px !important;}
.pt-xl { padding-top: 30px !important;}
.pb-xl { padding-bottom: 30px !important;}
.pv { padding-top: 10px !important; padding-bottom: 10px !important;}
.ph { padding-left: 10px !important; padding-right: 10px !important;}
.pv-xl { padding-top: 30px !important; padding-bottom: 30px !important;}
.ph-xl { padding-left: 30px !important; padding-right: 30px !important;}
.pv-lg { padding-top: 15px !important; padding-bottom: 15px !important;}
.ph-lg { padding-left: 15px !important; padding-right: 15px !important;}
.pv-sm { padding-top: 5px !important; padding-bottom: 5px !important;}
.ph-sm { padding-left: 5px !important; padding-right: 5px !important;}
.b0 { border-width: 0 !important;}
.bl0 { border-left-width: 0 !important;}
.br0 { border-right-width: 0 !important;}
.bt0 { border-top-width: 0 !important;}
.bb0 { border-bottom-width: 0 !important;}
.tc{ text-align:center; margin:0 auto;}
.tl{ text-align:left;}



/* 布局 */

.block_class{ padding:10px 0; border-bottom:1px dashed #ddd;}
.block_class div{ padding:3px;}
.border_all > div{ border:1px solid #eee;}
.border_all a:hover div{ background:#eee;}

.div_tab{ display:table; padding:30px;}
.div_tab_c{ display:table-cell; float:none!important;}
/*.border_all img{ width:100%;}*/

/* 表格 */
.tab_bro{ width:100%;}
.tab_bro td{ border:1px solid #000; padding:3px;}
.tab_bro td:hover{ background:#eee;}
.tab_bro td img{ width:100%;}
.w50{ width:50%;}
.w33{ width:33%;}

/* 弹出层 */
.modal .modalarea{ width:50%; margin:5% auto; background:#fff; border-radius: 6px; outline: none; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); background-clip: padding-box;}
.modal .modalarea .modal-header{ border-radius:6px 6px 0 0; text-align:center;}
.modal .modalarea .modal-header h3{ font-weight:400;}
.modal .modalarea .modal-footer{ border-radius:0 0 6px 6px;}
.modal .modalarea .modal-body{ padding:20px 40px;}
/*.modal-body span{ margin:0 20px; display:inline-block;}*/
.modal-body span input{ margin-right:10px;}

