<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rundatop.sys.mapper.ChannelColumnsMemberMapper" >
  <resultMap id="BaseResultMap" type="com.rundatop.sys.model.ChannelColumnsMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="channel_columns_id" property="channelColumnsId" jdbcType="VARCHAR" />
    <result column="member_group_id" property="memberGroupId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater_id" property="createrId" jdbcType="VARCHAR" />
    <result column="free1" property="free1" jdbcType="VARCHAR" />
    <result column="free2" property="free2" jdbcType="VARCHAR" />
    <result column="free3" property="free3" jdbcType="VARCHAR" />
  </resultMap>
</mapper>